* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f4f6fa;
    padding: 40px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: solid black 2px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;

}
header h1 {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 40px;
    color: #333;
    background-color: lightgray;
    border-radius: 20px;
}

.image_circle{
    width: 50px;
    height: 50px;
    background-color: rgb(94, 196, 230);
    border-radius: 50%;
    box-shadow: 2px 2px 10px gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 30px;
    background-color: lightgreen;
    border-radius: 10px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 250px;
    gap: 10px;
    box-shadow: 2px 2px 10px gray;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 2px 4px 15px gray;
}
.info p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #555;
    margin-bottom: 4px;
}
.info {
    text-align: center;
    line-height: 16px;
}