* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f4f6fa;
    padding: 40px;
}

.title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 40px;
    color: #333;
}
h1{
    background-color: lightgray;
    padding: 15px;
    border-radius: 20px;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    width: 90%;
    margin: 0 auto;
}

.product-card {
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.07);
    transition: 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}

.product-card img {
    width: 80px;
    height: 80px;
    margin-bottom: 12px;
    border-radius: 5px;
}

.product-card h2 {
    font-size: 18px;
    margin-bottom: 6px;
    color: #222;
    font-weight: 600;
}

.desc {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.price {
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
}

@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
